.headerContainer {
    height: 5rem;
}

.headerContent {
    max-width: 1280px;
    height: 5rem;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;
        gap: 14px;

        a {
            color: var(--white);
            text-decoration: none;
            transition: color .6s;

            &:hover {
                color: var(--green-900);
            }
        }

        button{
            border: 0;
            background: transparent;
            margin-left: 16px;
            transition: transform 0.7s;

            &:hover{
                transform: scale(1.2);
            }
        }
    }
}