.container {
  max-width: 1024px;
  margin: 4rem auto;
  padding: 0 2rem;

  h1 {
    color: #FFF;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

.categorySection {
  margin-bottom: 4rem;
}

.categoryTitle {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  border-left: 5px solid #3fffa3;
  padding-left: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.5rem;
}

.productItem {
  background-color: var(--dark-900);
  border: 2px solid var(--dark-900);
  border-radius: 8px;
  padding: 1rem;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  
  transition: all 0.3s;
  cursor: default;

  &:hover {
    border-color: var(--dark-700);
    transform: translateY(-5px);
  }
}

.productImage {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  object-fit: cover;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .productName {
    font-weight: bold;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 0.5rem;
    line-height: 120%;
  }

  .price {
    color: var(--white);
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .description {
    color: var(--white);
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}